@import "../../../current/theme/colors.css";

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
  font-family:
    SF Mono,
    Iosevka,
    Noto Sans CJK;
  border: none;
  border-radius: 0px;
  min-height: 0;
  font-size: 16px;
}

window#waybar {
  background: transparent;
}

/* .modules-left {
  background-color: @surface;
  border-radius: 12px;
  background:
    radial-gradient(
        circle at 50% 250%,
        alpha(darker(@surface), 0.9),
        alpha(@surface_dim, 0.9)
      )
      padding-box,
    linear-gradient(@primary, @on_primary) border-box;
   border: 2px solid @secondary; 
   opacity: 0.8; 
   padding: 0px; 
   margin: 10px; 
   box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.2); 
} */

.modules-left,
.modules-center,
.modules-right {
  background-color: @blur_background8;
  border-radius: 12px;
  /* background:
    radial-gradient(
        circle at 50% 250%,
        alpha(darker(@surface), 0.9),
        alpha(@surface_dim, 0.9)
      )
      padding-box,
    linear-gradient(@primary, @on_primary) border-box; */
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 0;
  border: 2px solid @primary;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

/* .modules-right {
  background-color: @surface;
  border-radius: 12px;
  background:
    radial-gradient(
        circle at 50% 250%,
        alpha(darker(@surface), 0.9),
        alpha(@surface_dim, 0.9)
      )
      padding-box,
    linear-gradient(@primary, @on_primary) border-box;
   border: 1px solid transparent; 
   opacity: 0.8; 
   padding: 0px; 
   margin: 10px; 
   box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.3); 
} */

/* .modules-center {
  background-color: @surface;
  border-radius: 12px;
  background:
    radial-gradient(
        circle at 50% 250%,
        alpha(darker(@surface), 0.9),
        alpha(@surface_dim, 0.9)
      )
      padding-box,
    linear-gradient(@primary, @on_primary) border-box;
   border: 1px solid transparent; 
   opacity: 0.8; 
   margin: 10px; 
   box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.2); 
} */

label.module {
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 5px;
}

#mode,
#bluetooth,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#mpris,
#clock,
#custom-icon,
#workspaces,
#window,
#custom-power,
#memory,
#battery,
#power-profiles-daemon,
#hardware,
#tools,
#temperature,
#tray,
#cpu {
  color: @on_surface;
  padding: 0 6px;
}

/*
label.module {
    font-size: 14px;
    color: @on_surface;
    padding:3px 10px;
    transition: all 0.3s ease-out;    
    background: radial-gradient(circle at 50% 250%, @on_tertiary_fixed_variant, @on_tertiary_fixed) padding-box,
        linear-gradient(@on_primary_fixed_variant, @on_primary_fixed) border-box;
    border-radius: 10px;
    border: 0px solid transparent;	
}

label.module:hover {
}
*/

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
  /* padding: 5px 5px; */
  /* min-width: 176px; */
}

#workspaces button {
  color: @on_surface;
  border-radius: 3px;
  padding: 0px 5px 0px 5px;
  margin: 0px 2px 0px 2px;
  border: 1px solid transparent;
}

#workspaces button.active {
  background: alpha(@secondary, 0.9);
  color: @on_secondary;
  border-radius: 8px;
}

#workspaces button:hover {
  background: alpha(@secondary, 0.5);
  border-radius: 16px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  background-color: @surface;
  border-radius: 12px;
  background:
    radial-gradient(circle at 50% 250%, @surface, @surface_dim) padding-box,
    linear-gradient(#ffffff, @on_primary) border-box;
  border: 1px solid transparent;
  opacity: 0.7;
  margin: 10px;
}

tooltip label {
  color: @on_surface;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
  padding: 5px 0px 5px 0px;
}

#taskbar button {
  border-radius: 6px;
  padding: 0px 5px 0px 5px;
}

#taskbar button:hover {
  background: @primary;
  color: @on_primary;
}

#taskbar.empty {
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu,
#language {
  margin: 0px;
  padding: 0px;
}

#language {
}

/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

#power-profiles-daemon.performance {
  background-color: @error;
  color: @on_error;
}

#power-profiles-daemon.balanced {
  /* background-color: @secondary; */
  /* color: @on_surface; */
}

#power-profiles-daemon.power-saver {
  background-color: @tertiary;
  color: @on_tertiary;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  margin-left: 12px;
  margin-right: 12px;
}

#clock:hover {
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
}

#backlight:hover {
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
}

#pulseaudio:hover {
}

#pulseaudio.muted {
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
}

#network.ethernet:hover {
}

#network.wifi:hover {
}

#network.ethernet {
}

#network.wifi {
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
}

#bluetooth:hover {
}

#bluetooth.off {
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  /* background-color: #ffffff;
  color: #000000; */
}

#battery.charging,
#battery.plugged {
  background-color: @success;
  color: @on_primary;
}

@keyframes blink {
  to {
    background-color: @surface_variant;
    color: @on_surface_variant;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @error;
  color: @on_error;
  animation-name: blink;
  animation-duration: 1s;
  /* animation-timing-function: steps(12); */
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

/* #tray {
  padding: 0px 5px 0px 10px;
} */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-background {
  background: @background;
  color: @on_background;
  min-width: 16px;
}

#custom-surface {
  background: @surface;
  color: @on_surface;
  min-width: 16px;
}

#custom-surface_container {
  background: @surface_container;
  color: @on_surface;
  min-width: 16px;
}

#custom-surface_container_high {
  background: @surface_container_high;
  color: @on_surface;
  min-width: 16px;
}

#custom-primary {
  background: @primary;
  color: @on_primary;
  min-width: 16px;
}

#custom-primary_container {
  background: @primary_container;
  color: @on_primary_container;
  min-width: 16px;
}

#custom-secondary {
  background: @secondary;
  color: @on_secondary;
  min-width: 16px;
}

#custom-secondary_container {
  background: @secondary_container;
  color: @on_secondary_container;
  min-width: 16px;
}

#custom-tertiary {
  background: @tertiary;
  color: @on_tertiary;
  min-width: 16px;
}

#custom-tertiary_container {
  background: @tertiary_container;
  color: @on_tertiary_container;
  min-width: 16px;
}

#custom-error {
  background: @error;
  color: @on_error;
  min-width: 16px;
}

#custom-outline {
  background: @outline;
  color: @background;
  min-width: 16px;
}

#custom-on_surface {
  background: @on_surface;
  color: @surface;
  min-width: 16px;
}

#custom-on_surface_variant {
  background: @on_surface_variant;
  color: @surface;
  min-width: 16px;
}

#custom-inverse_surface {
  background: @inverse_surface;
  color: @inverse_on_surface;
  min-width: 16px;
}

#custom-surface_bright {
  background: @surface_bright;
  color: @on_surface;
  min-width: 16px;
}
