[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "meta/dotbot-vscode"]
	path = meta/dotbot-vscode
	url = https://github.com/rbrauner/dotbot-vscode
[submodule "meta/dotbot-brew"]
	path = meta/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
