@import "../../.cache/wallust/colors-waybar.css";

* {
  transition: none;
  box-shadow: none;
  font-family: Monocraft;
  font-size: 18px;
}

/* GLOBAL BAR (transparent so islands float) */

#waybar {
  background: transparent;
}

/* ISLAND CONTAINERS */

.modules-left,
.modules-center,
.modules-right {
  background: alpha(@background, 0.75);
  border: 2px solid @color11;
  border-radius: 16px;
}

/* spacing between islands */

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

/* MODULE STYLE */

#mode,
#battery,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#mpris,
#clock,
#custom-icon,
#workspaces,
#window,
#custom-power,
#memory,
#cpu {
  color: @foreground;
  margin: 4px 4px;
  padding: 0 6px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}

#workspaces button {
  padding: 1px 4px;
  color: @foreground;
  background: transparent;
}

#workspaces button.visible {
  background: @color1;
  border-radius: 20px;
}

#custom-power {
  margin: 5px 10px 5px 0;
  padding: 0 10px 0 7px;
}

#custom-icon {
  margin: 4px 0px 4px 6px;
  min-width: 15px;
}

#idle_inhibitor {
  margin-right: 6px;
}

/* WALLUST COLOR BLOCKS */

#custom-color0 {
  background: @color0;
  min-width: 10px;
}
#custom-color1 {
  background: @color1;
  min-width: 10px;
}
#custom-color2 {
  background: @color2;
  min-width: 10px;
}
#custom-color3 {
  background: @color3;
  min-width: 10px;
}
#custom-color4 {
  background: @color4;
  min-width: 10px;
}
#custom-color5 {
  background: @color5;
  min-width: 10px;
}
#custom-color6 {
  background: @color6;
  min-width: 10px;
}
#custom-color7 {
  background: @color7;
  min-width: 10px;
}
#custom-color8 {
  background: @color8;
  min-width: 10px;
}
#custom-color9 {
  background: @color9;
  min-width: 10px;
}
#custom-color10 {
  background: @color10;
  min-width: 10px;
}
#custom-color11 {
  background: @color11;
  min-width: 10px;
}
#custom-color12 {
  background: @color12;
  min-width: 10px;
}
#custom-color13 {
  background: @color13;
  min-width: 10px;
}
#custom-color14 {
  background: @color14;
  min-width: 10px;
}
#custom-color15 {
  background: @color15;
  min-width: 10px;
}
